<!DOCTYPE html>
<html>
  <head>
    <title>GEP.MONSTER </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="favicon.png" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "load" %>
    <%= javascript_importmap_tags   %>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y9BZL1H1F"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5Y9BZL1H1F');
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="gep.monster" />
    <meta property="og:type" content="game, translate" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= @meta_image.present? ? @meta_image : meta_image %>" />
    <meta property="og:description" content="<% if @meta_description.present? %><%=@meta_description %><% else %><%= meta_description %><% end %>" />
    <meta property="og:site_name" content="https://gep.monster" />
  <body>
    <%= render 'shared/menu' %>
    <%= render 'shared/info' if cookies[:news] != Kuki.all.last.ertek if Kuki.all.last.present? %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
  <script id="dsq-count-scr" src="//gep-monster.disqus.com/count.js" async></script>
   <script>

      navbar = document.querySelector('.navbar');
      navbar.querySelector('.toggle').addEventListener('click',()=>
      {
	    navbar.classList.toggle('collapsed')
      })
      window.addEventListener('scroll',(e)=>{
	    let windowY = window.pageYOffset
	    let navbarHeight = document.querySelector('.navbar').offsetHeight
	    if(windowY>navbarHeight) navbar.classList.add('sticky')
	    else navbar.classList.remove('sticky')
      })  
   </script>
</html>
