<!DOCTYPE html>
<html>
  <head>
    <title>Gep Monster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y9BZL1H1F"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5Y9BZL1H1F');
    </script>
     
    </head>
  <body>
    <%= render 'shared/menu' %>
    <%= yield  %>
    <%= render 'shared/footer' %>
  </body>
   <script>

      navbar = document.querySelector('.navbar');
      navbar.querySelector('.toggle').addEventListener('click',()=>
      {
	    navbar.classList.toggle('collapsed')
      })
      window.addEventListener('scroll',(e)=>{
	    let windowY = window.pageYOffset
	    let navbarHeight = document.querySelector('.navbar').offsetHeight
	    if(windowY>navbarHeight) navbar.classList.add('sticky')
	    else navbar.classList.remove('sticky')
      })  
   </script>
</html>
